.info-block {
	&__container {
		@include flexbox();
		justify-content: center;
	}

	&__content-block {
		text-align: center;
		display: block;
		padding: 20px 10px;
	}

	&__content {
		width: 100%;
		@include flexbox();
		justify-content: space-evenly;
		flex-wrap: wrap;
		font-size: 20px;
	}

	&__search {
	}

	&__pagination {
		@include flexbox();
		justify-content: center;
	}

	.pagination {
		&__nav-item {
			background-color: #fff;
			border-radius: 12px;
			padding: 7px;
			border: 1px solid $graphite;
			margin-right: 10px;
			font-size: 25px;
			@media (max-width: $md4 + px) {
				font-size: 12px;
				margin-right: 3px;
			}
		}

		._active {
			font-weight: 700;
		}

		a {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
