@import "mixins";
@import "fonts";

body {
	background-color: #000;
	color: #ffffff;
	display: flex;
}

span {
	font-size: 20px;

	@media (max-width: 767px) {
		font-size: 15px;
	}
}

div {
	font-size: 30px;
	background: url("../img/IMG_5592.jpg") 0 0 no-repeat;
	@media (max-width: 767px) {
		font-size: 20px;
	}
}
